body {
  border: 20px solid;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.5rem;
  margin: 0;
}
.canvas {
  display: flex;
  flex-direction: column;
  background-image: url('/img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 40px);
  justify-content: center;
  align-items: center;
}
canvas {
  box-sizing: content-box;
  background: #fff;
  border: 5px dashed #2c2c2c;
  cursor: crosshair;
}
.button {
  display: inline-flex;
  padding: 0.2em 3em;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .25s ease;
  color: #fff;
}
.destroy {
  margin-top: 25px;
}
.button:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.canvas__clear {
  background-color: #18202E;
}
.canvas__save {
  background-color: #FF3A00;
}
.destroy {
  background-color: #dc3545;
}
select {
  appearance: none;
  outline: 0;
  border: 0 !important;
  background: #2c3e50;
  width: 100%;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.25rem;
}
.canvas__settings {
  position: relative;
  width: 15em;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
.canvas__settings::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  color: #fff;
  pointer-events: none;
}
.canvas__settings:hover::after {
  color: #f39c12;
}
.canvas__settings::after {
  transition: .25s all ease;
}
.canvas__label {
  font-weight: 700;
  text-decoration: underline;
}
.canvas__button-group {
  margin-top: 25px;
}